<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<main>
		<h2>
			<%= title%>
		</h2>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
</body>
</html>