<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">
	<main>
		<div class="jumbotron">
			<h1>User List</h1>
			<ul>
				<% userlist.forEach(function (user){ %>
					<li>
						<%= user.username%>
					</li>
				<% }); %>
			</ul>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>
	
</body>
</html>